<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <h2>Список книг выданных друзьям:</h2>
    {% for friend in friends %}
    <ul class="list-group">
        <li class="list-group-item">
           <h5>{{ friend.friend_name }}</h5>            
           <ul class="list-group">
                {% for book in friend.books.all %}
                    <li class="list-group-item"> Книга: {{ book.title }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</body>
</html>